# PostgreSQL
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

# MongoDB
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_DB_NAME=

# RabbitMQ
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=

#react frontend (allows it to access spring boot)
CORS_ALLOWED_ORIGIN=

#JWT security config
JWT_SECRET=

VITE_API_URL=

$env:MTN_SUBSCRIPTION_KEY=
$env:MTN_API_USER=
$env:MTN_API_KEY=